<div class="lt-info-user container-sections">
    <div class="content">
        <img src="../../../assets/image/picture-simulartor.png" alt="" />
        <div class="info-content">
            <h1 class="about-me">Sobre mi</h1>

            <h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas facilis, iusto atque, debitis cum temporibus, adipisci
                esse soluta qui vel unde nemo veniam impedit natus.
                Necessitatibus nihil quas ipsa aut!
            </h1>
        </div>
    </div>
</div>
