<div class="lt-abilities container-sections">
    <div class="descrition">
        <h1 class="t-500">Mis habilidades</h1>
        <p class="t-300">
            Menejamos las tecnologias que estan a la vanguardia para ser
            competitivos en el mercado para darte lo mejor en productos web y
            puedas estar por encima de la competencia
        </p>
    </div>
    <div class="details-description t-300">
        <ul>
            <li>Angular</li>
            <li>Figma</li>
            <li>HTML5 / CSS3</li>
            <li>JAVA</li>
            <li>JavaScript</li>
        </ul>
        <ul>
            <li>MySql</li>
            <li>SASS</li>
            <li>SQL Server</li>
            <li>TypeScript</li>
            <li>Otras ...</li>
        </ul>
    </div>
</div>
